@import '../variables';

$bar-height: 64px;

.container {
  margin: auto;
  max-width: 1028px;
}

.mat-progress-bar.fixedtop {
  position: fixed;
  top: 0;
  left: 0;
  
  &.inkline {
    height: 3px;
  }
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.12);
  transition: box-shadow .2s ease-in-out;
  
  &.scrolling {
    @include mat-elevation(3);
  }

  ::ng-deep .mat-toolbar-layout {
    margin: auto;
    min-width: 1028px;
  }

  .mat-tab-nav-bar {
    height: $bar-height;
    border-bottom: none;
    
    .mat-tab-link {
      line-height: $bar-height;
      height: $bar-height;
    }
    
  }
  
}

.content.main {
  padding-top: $bar-height;
  height: 1000px;
}